@property --firstColor {
  syntax: '<color>';
  inherits: false;
  initial-value: rgb(230, 210, 210);
}
@property --secondColor {
  syntax: '<color>';
  inherits: false;
  initial-value: rgb(146, 111, 111);
}
